label live-amd64
    menu label ^Boot LinuxTV Live (with Persistence)
    menu default
    linux /live/vmlinuz
    initrd /live/initrd.img
    append boot=live components quiet splash loglevel=0 vt.global_cursor_default=0 persistence rootdelay=10

label live-amd64-nopersistence
    menu label Boot LinuxTV Live (^No Persistence)
    linux /live/vmlinuz
    initrd /live/initrd.img
    append boot=live components quiet splash loglevel=0 vt.global_cursor_default=0

label live-amd64-failsafe
    menu label Boot LinuxTV Live (^fail-safe)
    linux /live/vmlinuz
    initrd /live/initrd.img
    append boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788
