set default=0
set timeout=0
set timeout_style=hidden

terminal_output console

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "Boot LinuxTV Live" {
    linux /live/vmlinuz boot=live components quiet splash loglevel=0 vt.global_cursor_default=0 persistence
    initrd /live/initrd.img
}

menuentry "Boot LinuxTV Live (No Persistence)" {
    linux /live/vmlinuz boot=live components quiet splash loglevel=0 vt.global_cursor_default=0
    initrd /live/initrd.img
}

submenu "Advanced Options" {
    menuentry "Boot LinuxTV Live (fail-safe)" {
        linux /live/vmlinuz boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788
        initrd /live/initrd.img
    }

    if [ "${grub_platform}" = "efi" ]; then
        menuentry "UEFI Firmware Settings" {
            fwsetup
        }
    fi
}
